# unwanted latex outputs                                                                                                                                                                    *.aux                                                                                                                                                                                       *.fdb_latexmk                                                                                                                                                                               *.log
*.fls
*.jmlr-sample.out
*.bbl
*.blg
*.synctex.gz
*.out
*.toc
*.pag
*.xml
*.bcf
*.bbl
