# unwanted latex outputs                                                                                                                                                                    *.aux                                                                                                                                                                                       *.fdb_latexmk                                                                                                                                                                               *.log
*.fls
*.jmlr-sample.out
*.bbl
*.blg
*.synctex.gz
*.out
*.toc
*.pag
*.xml
*.bcf
*.bbl
how_to_select_causal_models.aux
how_to_select_causal_models.log
how_to_select_causal_models.fdb_latexmk
